<h1>Welcome to Dr. String</h1>
<form action="/number_output">
  <div class="form-group">
    <label for="string">What string would you like to parse?</lable>
      <input id="string" name="string" class="form-control" type="fixnum">
    </div>
    <button type="submit" class="btn-success">Submit String!</button>
  </form>
