<h1>Welcome to Coin Counter</h1>
<form action="/coin">
  <div class="form-group">
    <label for="coin">What's your total change amount?</lable>
      <input id="coin" name="coin" class="form-control" type="fixnum">
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form>
